/* 
Position relative
Su punto de referencia (contexto) es el punto donde aparece en el flujo
Al ser un elemento posicionado lo podemos mover en los 3 ejes X Y Z
*/
.box1, .box2{
    width: 150px;
    height: 150px;
    align-content: center;
    font-size: 30px;
    text-align: center;
    margin: 1em auto;
}

.box1{
    background-color: greenyellow;
    position: relative;
    top: 100px;
    /* top right bottom left z-index */
    /* z-index: 1; Si declaramos z-index automaticamente se dibuja por encima por tener un valor mayor que el de por defecto (0)*/
    /* top y left tienen preferencia ante bottom y right */
   /*  right: -500px;
    bottom: 30px; */
}

.box2{
    background-color: violet;
    position: relative;
}